# PHP project
language: php

# which versions of PHP to build with
php:
- 5.6

# set global environment variables
env:
  global:
    # make PROJECTNAME from vendor/project
    # this strips everything before the last /
    - PROJECTNAME=${TRAVIS_REPO_SLUG##*/}

# make sure we have the latest version of composer
before_install:
- composer self-update

# install dependencies
install:
- composer install

# no phpunit tests (yet)
script: true

# no email notifications
notifications:
  email: false

# before deployment make the zipfile to upload
before_deploy:
 # execute release prepare script
 - sh ./vendor/coldtrick/releases/scripts/travis/before_deploy.sh

# deployment settings
deploy:
  provider: releases
  api_key:
    secure: dtBU1rKDkUZsW20mT2Xovvnt+LjpIxZHwafrLn6Fmf/+Sv3rWuYkIzksA56Z2lzclE4g/hVMFoqqaEZssVn9Xx1ptQvbIa1gPEN6Vy9TsN8OZfXjqTpjlZjDH/4LuVHeOcwMIuNZg9TseiMz4sHV1NPWfPwZwe3+/1MAoVRAHCw=
  # name of the zip to upload
  file: ${PROJECTNAME}_$TRAVIS_TAG.zip
  skip_cleanup: true
  on:
    # only when a tag is created in GitHub
    tags: true
    all_branches: true

after_deploy:
 # execute release after script
 - sh ./vendor/coldtrick/releases/scripts/travis/after_deploy.sh