.addeventatc_dropdown {
	display: none;
	right: 0px;
	left: unset !important;
	position: absolute;
	top: unset !important;
	z-index: 1;
	background: white;
	border: 1px solid #CCC;
	
	span {
		display: block;
		white-space: nowrap;
		color: $(text-color-strong);
		padding: 5px 15px;
		
		&:hover {
			background: $(background-color-soft);
			color: #333;
			cursor: pointer;	
		}
	}
}
