/* Event View */
.event-manager-event-banner {
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: cover;
}

.event-manager-header {
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	> div {
		flex: 1 1 auto;
	}
}

@media $(media-tablet-up) {
	.event-manager-event-when {
		white-space: nowrap;
	}
	
	.event-manager-view-registration-details {
		.elgg-menu-event-rsvp {
			flex-wrap: nowrap;
		}
	}
}

@media $(media-mobile-only) {
	.event-manager-event-when {
		> .elgg-image {
			display: none;
		}
	}
	
	.event-manager-view-registration-details {
		.elgg-menu-event-rsvp {
			flex-wrap: wrap;
			justify-content: flex-end;
		}
	}
}

.event-manager-view-registration-details {
	display: flex;
	flex-wrap: wrap;
	
	> div {
		flex: auto;
		
		&:last-child {
			text-align: right;
		}
	}
	
	.elgg-menu-event-rsvp-container {
		align-items: flex-end;
	}
	
	.elgg-columns {
		white-space: nowrap;
	} 
}

.event-manager-contact-details {
	.elgg-columns {
		> div:first-child {
			flex-grow: 0;
		}
	}
}

/* Event Edit */
#event_manager_event_edit { 
	.elgg-fieldset-has-legend {
		position: relative;
		
		> legend {
			font-weight: 600;
			font-size: 0.9rem;
			position: absolute;
			top: -0.8em;
			background: white;
			margin-left: -5px;
			padding: 0 5px;
		}
		
		.elgg-input-single-checkbox .elgg-field-label {
			font-weight: 400;
			font-size: 100%;
		}
		
		> .elgg-field {
			margin-bottom: .5rem;
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.event_manager_event_edit_date {
	width: 100px;
	height: 20px;
}

.event-manager-event-view-level {
	display: flex;
	flex-wrap: wrap;
}
	
.event-manager-event-edit-level {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	
	> *:first-child {
		flex-grow: 1;
	}
	
	.event_manager_registrationform_select_options {
		flex-grow: 1;
	}
	
	> .elgg-field {
		margin-right: .5rem;
	}
}

.event-manager-location-input {
	display: flex;
	align-items: flex-end;

	> .elgg-field {
	
		margin: 0;
	
		&:first-child {
			flex-basis: 100%;
		}
		&:not(.hidden):last-child {
			margin-left: 1rem;
		}
	}
}

#event-manager-maps-location-search {
	height: 400px;
	width: 600px;
}

/* Event listing  */
.event_manager_event_view_owner {
	color: #808080;
	font-size: 11px;
	border-bottom: 1px solid #CCCCCC;
	padding: 0 0 2px;
}

.event_manager_event_list_icon {
	text-align: center;
	width: 40px;
	padding: 1px;
	
	background: #4787b8;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
    border-radius: 3px;
	box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.6);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.event_manager_event_list_icon_day {
	font-size: 15px;
    font-weight: bold;
    line-height: 23px;
    background: #FFFFFF;    
	border-radius: 0 0 2px 2px;
}
.event_manager_event_list_icon_month {
	color: #FFFFFF;
	font-size: 11px;
    line-height: 11px;
    padding: 2px 0;
}

.elgg-list .elgg-item-object-event .elgg-listing-summary-content div + .elgg-menu-event-rsvp-container {
	margin-top: 1rem;
}

/* Event view */
.event-manager-event-when {
	margin-bottom: 15px;
}

.event-manager-event-when .elgg-icon-calendar {
	font-size: 3em;
	margin: 0 10px;
}

.event-manager-event-when-title {
	font-size: 20px;
	font-weight: bold;
}

.event-manager-event-when-subtitle {
	color: #CCC;
	font-size: 18px;
}

.elgg-module-event {
	border-top: 1px solid #ebebeb;
	padding-top: 20px;
	
	> .elgg-head {
		margin-bottom: 0.5rem;
	}
}

.event-manager-event-view-maps {
	width: 100%;
	height: 400px;
}

/* Event Program Slot */
#event_manager_form_program_slot label {
	white-space: nowrap;
	padding-right: 10px;
}

#event-manager-new-slot-set-name {
	width: 150px;
	margin-right: 10px;
}

.event-manager-program-slot-set {
	padding: 2px 4px;
	color: white;
	margin-left: 5px;
	
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.event_manager_program_slot_time {
	padding: 0px 5px;
	white-space: nowrap;
	font-weight: bold;
}

.event_manager_program_slot_attending {
	width: 20px;
}

.event_manager_program_slot_description{
	word-wrap: break-word;
	width: 100%;
}

/* popup */
.event-manager-popup-title {
	position: relative;
	margin-bottom: 1rem;
	
	> .event-manager-event-banner {
		margin: 0;
		
		& + h2 {
			position: absolute;
			bottom: 0;
			padding: 1rem;
			color: white;
		}
	}
}

@media $(media-tablet-up) {
	.event-manager-popup-footer {
		display: flex;
		
		> a {
			margin-left: auto;
			align-self: start;
		}
	}
}

/* event copy form */
.elgg-form-event-manager-event-copy {
	width: 600px;
}

.leaflet-container .elgg-button {
	color: white; /* fix for leaflet taking over color of links */
}

#event_manager_onthemap_canvas {
	height: 650px;
	margin-bottom: 20px;
	z-index: 1;
}

/* hack to hide clear button on input/date fields for IE/Edge */
.elgg-input-date::-ms-clear {
	display: none;
}

@media $(media-mobile-only) {
	.event_manager_program_slot_attending {
		float: left;
	}
	
	.event_manager_program_day td {
		display: block;
	}
}

.elgg-menu-container {
	.event-manager-listing-sorting {
		margin-left: auto;
	}
}