.event-manager-email-addevent-title {
	font-weight: bold;
}

.event-manager-email-addevent {
	background: #EFEFEF;
	border-radius: 4px;
	padding: 5px 10px;
	border: 1px solid #CCC;
	text-align: center;
	vertical-align: top;
}
.event-manager-email-addevent a {
	text-decoration: none;
	color: black;
}